
.room-page {
  background-color: #FFFDEE;
  display: flex;
  justify-content: center;
  


&__title {
  font-family: 'Times New Roman';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 37px;
color: #000000;
}

&__text {
@media screen and (max-width: 1023px){
  margin-top: 16px;
}

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
letter-spacing: 1.25px;
color: #7A7A7A;
}
&__pre-title {
  margin-top: 32px;
font-family: 'Times New Roman';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
color: #000000;
}

&__main-container {
  @media screen and (min-width: 414px){
    padding: 15px 32px;
  }
  @media screen and (max-width: 1023px){
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 15px;
    padding-right: 15px;
    width: 414px;
  }
  @media  (min-width: 1024px) and (max-width: 1279px){
    padding-top: 50px;
    padding-bottom: 40px;
    padding-left: 47px;
    padding-right: 47px;
    width: 1024px;
  }
  @media screen and (min-width: 1280px){
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 85px;
    padding-right: 198px;
    width: 1280px;
  }
}



&__tablet1 {

  @media screen and (min-width: 1024px) {
    margin-top: 16px;
  width: 757px;
 
 
}

}
&__tablet2 {

  @media screen and (min-width: 1024px) {
    column-count: 2;
    margin-top: 16px;
    gap: 80px;
  }
}
&__tablet3 {

  @media screen and (min-width: 1024px) {
    column-count: 2;
    margin-top: 16px;
    gap: 80px;
  }
}
&__tablet4 {

  @media screen and (min-width: 1024px) {
    column-count: 1;
    width: 400px;
    margin-top: 16px;
  }
}
&__tablet5 {

  @media screen and (min-width: 1024px) {
    column-count: 2;
    margin-top: 16px;
    gap: 80px;
  }
}
&__tablet6 {

  @media screen and (min-width: 1024px) {
    column-count: 1;
    width: 400px;
    margin-top: 16px;
  }
}
}

.room-btn {
  display: flex;
  flex-direction: column;
  margin-top: 52px;
 @media screen and (max-width: 1023px) {
  justify-content: center;
 }
 @media screen and (min-width: 1024px) {
  display: flex;
  align-items: flex-end;
  flex-direction: column;

 }
  &__booking {
   @media screen and (min-width: 1024px){
    font-size: 24px;
   }
padding: 20px 43px;
background: #000000;
border: 1px solid #F3C653;
border-radius: 25px;
color: #FFFFFF;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 100%;
line-height: 24px;
  }
&__link {
  @media screen and (min-width: 1024px){
    font-size: 20px;
   }

  margin-top: 20px;
  text-decoration: none;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 100%;
line-height: 20px;
letter-spacing: 1.25px;
color: #C79002;
}
&__icon {
  
  fill: currentColor; 
} 
}
