ul {
margin: 0;
padding: 0;
list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @media screen and (min-width: 1024px) {
    padding-left: 47px;
    padding-right: 47px;
  }

  @media screen and (min-width: 1280px) {
    padding-left: 85px;
    padding-right: 85px;
  }
}

.contacts {
  padding-top: 36px;
  padding-bottom: 32px;

  background-color: #fffdee;

  @media screen and (min-width: 1024px) {
    padding-top: 69px;
    padding-bottom: 40px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 64px;
    padding-bottom: 74px;
  }
}

.contacts__container {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media screen and (min-width: 1024px) {
    flex-direction: row;
    justify-content: space-between;
    gap: none;
  }
}

.contacts__logo {
  display: block;
  padding-bottom: 12px;

  font-family: 'FilmP3', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.075;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: #494848;

  @media screen and (min-width: 1024px) {
    font-size: 64px;
    line-height: 1.08;
    margin-bottom: 8px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 16px;
  }
}

.contacts__text {
  padding-bottom: 16px;
  color: #7a7a7a;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;

  @media screen and (min-width: 1024px) {
    margin-bottom: 52px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
}

.contacts__map {
  display: block;
  width: 100%;
  height: 220px;

  border: 1px solid #bababa;

  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;

  @media screen and (min-width: 1024px) {
    max-width: 553px;
    height: 412px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 634px;
  }
}
.contact-inform {
  display: flex;
  align-items: center;

  @media screen and (max-width: 413.9px) {
    justify-content: space-between;
  }

  @media screen and (min-width: 1024px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  &--address {
    margin-left: 32.15%;

    @media screen and (min-width: 1024px) {
      margin-left: 0;
    }
  }

  &--rest {
    margin-bottom: 24px;
  }

  &--hotel {
    margin-bottom: 48px;
  }
}

.contact-inform__title {
  flex-basis: 32.15%;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: #c79002;

  @media screen and (max-width: 413.9px) {
    flex-basis: 0%;
  }
}

.contact-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 9px 8px 7px;

  background-color: #ffffff;
  border: 0.5px solid #f3c653;
  border-radius: 2px;

  &--address {
    max-width: 260px;
    width: 100%;
    @media screen and (min-width: 1024px) {
      max-width: none;
    }
  }
}

.contact-container__text {
  display: block;

  color: #494848;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;

  &--address,
  &--hotel {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.01em;
  }
}

.contact-container__icon {
  fill: #c79002;

  &--address {
    margin-right: 10px;
  }
}

.contact-container__br {
  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.thumb-tel {
  display: flex;
  gap: 12px;

  @media screen and (max-width: 413.9px) {
    display: block;
  }

  @media screen and (min-width: 1024px) {
    gap: 16px;
  }
}
