.menu {
    padding-top: 58px;
    padding-bottom: 60px;
    padding-left: 85px;
    padding-right: 85px;
    background-color: #F0ECD6;

    &__title {
        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 1.156;
        color: #000000;
        margin-top: 0;
        margin-bottom: 40px;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap: 140px;
    }

    &__name {
        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.166;
        color: #000000;
        margin-top: 0;
        margin-bottom: 20px;
    }

    &__dishes {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }


    &__hot-dishes {
        margin-bottom: 20px;
        gap: 60px;
    }

    &__side-dishes {
        margin-bottom: 20px;
        gap: 60px;
    }

    &__cold-dishes {
        gap: 60px;
    }

    &__salads {
        margin-bottom: 20px;
        gap: 60px;
    }

    &__desserts {
        margin-bottom: 20px;
    }

    &__dessert-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;
    }

    &__drinks-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 49px;
    }


    &__list {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        padding-left: 0;
    }

    &__first-item:not(:last-child) {
        margin-bottom: 12px;
    }
    
    &__second-item:not(:last-child) {
        margin-bottom: 8px;
    }

    &__position {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        color: #000000;
        margin-top: 0;
        margin-bottom: 0;
    }

    &__description {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #000000;
        margin: 0;
    }

    &__weight {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        padding-left: 0;
    }

    &__grams {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 1.214;
        letter-spacing: 0.02em;
        color: #000000;
        white-space: nowrap;
    }

    &__a-grams:first-child {
        margin-top: 15px;
    }

    &__a-grams:not(:last-child) {
        margin-bottom: 32px;
    }

    &__b-grams:first-child {
        margin-top: 15px;
    }
    
    &__b-grams:not(:last-child) {
        margin-bottom: 40px;
    }

    &__c-grams:first-child {
        margin-top: 4px;
    }
    
    &__c-grams:not(:last-child) {
        margin-bottom: 11px;
    }

    &__d-grams:first-child {
        margin-top: 4px;
    }
    
    &__d-grams:not(:last-child) {
        margin-bottom: 11px;
    }

    &__price {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        padding-left: 0;
    }

    &__hrivna {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        color: #000000;
        white-space: nowrap;
    }

    &__a-hrivna:first-child {
        margin-top: 13px;
    }
    
    &__a-hrivna:not(:last-child) {
        margin-bottom: 29px;
    }

    &__b-hrivna:first-child {
        margin-top: 11px;
    }
    
    &__b-hrivna:not(:last-child) {
        margin-bottom: 38px;
    }

    &__c-hrivna:first-child {
        margin-top: 4px;
    }
    
    &__c-hrivna:not(:last-child) {
        margin-bottom: 9px;
    }

    &__d-hrivna:first-child {
        margin-top: 3px;
    }
    
    &__d-hrivna:not(:last-child) {
        margin-bottom: 8px;
    }

    &__order-button {
        margin-top: 32px;
    }
}

@media (max-width: 1280px) {
    .menu {
        max-width: 1280px;
    }
}