.menu {
    background-color: #F0ECD6;
    display: flex;
    justify-content: center;

    &__title {
        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 1.156;
        color: #000000;
        margin-top: 0;
        margin-bottom: 40px;
    }

   

    &__name {
        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.166;
        color: #000000;
        margin-top: 0;
        margin-bottom: 20px;
    }

    &__dishes {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }


    &__hot-dishes {
        margin-bottom: 20px;
        gap: 60px;
    }

    &__side-dishes {
        margin-bottom: 20px;
        gap: 60px;
    }

    &__cold-dishes {
        gap: 60px;
    }

    &__salads {
        margin-bottom: 20px;
        gap: 60px;
    }

    &__desserts {
        margin-bottom: 20px;
    }

    &__dessert-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 60px;
    }

    &__drinks-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 49px;
    }


    &__list {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        padding-left: 0;
    }

    &__first-item:not(:last-child) {
        margin-bottom: 12px;
    }
    
    &__second-item:not(:last-child) {
        margin-bottom: 8px;
    }

    &__position {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        color: #000000;
        margin-top: 0;
        margin-bottom: 0;
    }

    &__description {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #000000;
        margin: 0;
    }

    &__weight {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        padding-left: 0;
    }

    &__grams {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 1.214;
        letter-spacing: 0.02em;
        color: #000000;
        white-space: nowrap;
    }

    &__a-grams:first-child {
        margin-top: 15px;
    }

    &__a-grams:not(:last-child) {
        margin-bottom: 32px;
    }

    &__b-grams:first-child {
        margin-top: 15px;
    }
    
    &__b-grams:not(:last-child) {
        margin-bottom: 40px;
    }

    &__c-grams:first-child {
        margin-top: 4px;
    }
    
    &__c-grams:not(:last-child) {
        margin-bottom: 11px;
    }

    &__d-grams:first-child {
        margin-top: 4px;
    }
    
    &__d-grams:not(:last-child) {
        margin-bottom: 11px;
    }

    &__price {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        padding-left: 0;
    }

    &__hrivna {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        color: #000000;
        white-space: nowrap;
    }

    &__a-hrivna:first-child {
        margin-top: 13px;
    }
    
    &__a-hrivna:not(:last-child) {
        margin-bottom: 29px;
    }

    &__b-hrivna:first-child {
        margin-top: 11px;
    }
    
    &__b-hrivna:not(:last-child) {
        margin-bottom: 38px;
    }

    &__c-hrivna:first-child {
        margin-top: 4px;
    }
    
    &__c-hrivna:not(:last-child) {
        margin-bottom: 9px;
    }

    &__d-hrivna:first-child {
        margin-top: 3px;
    }
    
    &__d-hrivna:not(:last-child) {
        margin-bottom: 8px;
    }

    &__order-button {
       
        padding: 14px 24px;
        margin-top: 48px;
        background-color: #000000;
        border: 2px solid #FFFDEE;
        border-radius: 25px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.02em;
        color: #F3C653; 
        transition:
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background-color: #FFFFFF;
            border-color: #F3C653;
        }
    }

    &__button-container {
        display: flex;
    }
}

@media (min-width: 1280px) {
    .menu {
        padding-top: 58px;
        padding-bottom: 60px;
        padding-left: 85px;
        padding-right: 85px;  
    }

    .menu__main-container {
        max-width: 1280px;
        width: 100%;
    }
}

@media (min-width: 1024px) and (max-width: 1279px){
    .menu {
        padding-top: 58px;
        padding-bottom: 64px;
        padding-left: 47px;
        padding-right: 47px;
    }

    .menu__main-container {
        max-width: 1024px;
        width: 100%;
    }
}

@media (max-width: 1023px) {
    .menu {
        padding-top: 32px;
        padding-bottom: 32px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .menu__main-container {
        width: 414px;
    }

    .menu__button-container {
        justify-content: center;
    }
}

@media (min-width: 1024px) {
    .menu__dishes {
        width: 430px;
    }

    .menu__button-container {
        justify-content: flex-end;
    }
}

@media (max-width: 1023px) {
    .menu__dishes {
        width: 384px;
        width:100%;
        margin-bottom: 16px;
    }

    .menu__main-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
}

@media (min-width:1280px) {
    .menu__container {
        gap: 140px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .menu__container {
        gap: 88px;
    }
}

@media (min-width: 1024px) {
    .menu__container {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }
}


