@import '~node_modules/modern-normalize/modern-normalize.css';
@import "~nice-select2/src/scss/nice-select2.scss";
@import '../../node_modules/swiper/swiper-bundle.css';

.link {
  text-decoration: none;
}

ul {
  list-style: none;
}

// button {
//   cursor: pointer;
//   font-family: inherit;
// }

img {
  display: block;
  max-width: 100%;
  height: auto;
}
