.footer {
  outline: 2px solid tomato;
  background-color: #0E0C07;
  max-width: 414px;
  margin: 0 auto;
}

.footer-container {
  margin: 0 auto;
}

.footer-logo {
  color: #F3C653;
}


.footer-list {
  color: #F3C653;
}

.footer-list__item {

}

.footer-list__link {
  color: #F3C653;
}