<section class="details-rest">
  <div class="container">
    <div class="details-rest__content">
      <h1 class="details-rest__logo">MIMIHO</h1>
      <h2 class="details-rest__title">Ресторан</h2>
      <p class="details-rest__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="rest-galery">
      <ul class="rest-galery__img">
        <li class="rest-galery__item">
          <picture>
            <sourse
              srcset="
            /src/images/details-restaurant/desk/frame-270.jpg 1x,
            /src/images/details-restaurant/desk/frame-540.jpg 2x
            "
              media="(min-width: 1280px)"
            />
            <sourse
              srcset="
            /src/images/details-restaurant/tablet/frame-270.jpg 1x,
            /src/images/details-restaurant/tablet/frame-540.jpg 2x
            "
              media="(min-width: 1024px)"
            />
            <sourse
              srcset="
            /src/images/details-restaurant/mob/frame-274.jpg 1x,
            /src/images/details-restaurant/mob/frame-548.jpg 2x
            "
              media="(max-width: 1023px)"
            />
            <img
              src="/src/images/details-restaurant/mob/frame-274.jpg"
              alt="food"
            />
          </picture>
        </li>
        <li class="rest-galery__item">
          <picture>
            <sourse
              srcset="
            /src/images/details-restaurant/desk/frame-162.jpg 1x,
            /src/images/details-restaurant/desk/frame-324.jpg 2x
            "
              media="(min-width: 1280px)"
            />
            <sourse
              srcset="
            /src/images/details-restaurant/tablet/frame-162.jpg 1x,
            /src/images/details-restaurant/tablet/frame-324.jpg 2x
            "
              media="(min-width: 1024px)"
            />
            <sourse
              srcset="
            /src/images/details-restaurant/mob/frame-80.jpg 1x,
            /src/images/details-restaurant/mob/frame-160.jpg 2x
            "
              media="(max-width: 1023px)"
            />
            <img
              src="/src/images/details-restaurant/mob/frame-80.jpg"
              alt="food"
            />
          </picture>
        </li>
        <li class="rest-galery__item mob-hidden">
          <picture>
            <sourse
              srcset="
            /src/images/details-restaurant/desk/frame3.jpg 1x,
            /src/images/details-restaurant/desk/frame3@2x.jpg 2x
            "
              media="(min-width: 1280px)"
            />
            <sourse
              srcset="
            /src/images/details-restaurant/tablet/fram-162.jpg 1x,
            /src/images/details-restaurant/tablet/fram-324.jpg 2x
            "
              media="(min-width: 1024px)
              "
            />
            <sourse
              srcset="
            /src/images/details-restaurant/mob/frame-80.jpg 1x,
            /src/images/details-restaurant/mob/frame-160.jpg 2x
            "
              media="(max-width: 1023px)"
            />
            <img
              src="/src/images/details-restaurant/tablet/fram-162.jpg"
              alt="food"
            />
          </picture>
        </li>
      </ul>
    </div>
    <div class="arrows-btn">
      <svg class="arrows-btn__icon" width="32px" height="32px">
        <use
          href="/src/images/details-restaurant/symbol-defs.svg#icon-cil_arrow-left"
        ></use>
      </svg>
      <svg class="arrows-btn__icon" width="32px" height="32px">
        <use
          href="/src/images/details-restaurant/symbol-defs.svg#icon-cil_arrow-right"
        ></use>
      </svg>
    </div>
    <div class="rest-btn">
      <button type="button" class="rest-btn__table">Забронювати столик</button>
      <button type="button" class="rest-btn__menu">
        Переглянути меню
        <a href="#"></a>
      </button>
    </div>
  </div>
</section>
