<section class="details-rest">
  <div class="container-rest">
    <div class="details-rest__content">
      <h1 class="details-rest__logo">MIMIHO</h1>
      <h2 class="details-rest__title">Ресторан</h2>
      <p class="details-rest__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="details-rest__wrap">
      <div class="slider-rest" data-slider="team-slider">
        <div class="swiper">
          <ul class="swiper-wrapper">
            <li class="swiper-slide">
              <div class="swiper-inner swiper-slide-prev">
                <picture>
                  <sourse
                    srcset="
             /src/images/details-restaurant/frame-270.jpg 1x,
            /src/images/details-restaurant/frame-540.jpg 2x
            "
                    media="(min-width: 1280px)"
                  />
                  <sourse
                    srcset="
            /src/images/details-restaurant/frame-270.jpg 1x,
            /src/images/details-restaurant/frame-540.jpg 2x
            "
                    media="(max-width: 1279px)"
                  />

                  <img
                    src="/src/images/details-restaurant/frame-270.jpg"
                    alt="food"
                  />
                </picture>
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner swiper-slide-prev">
                <picture>
                  <sourse
                    srcset="
             /src/images/details-restaurant/desk/frame-162.jpg 1x,
            /src/images/details-restaurant/desk/frame-324.jpg 2x
            "
                    media="(min-width: 1280px)"
                  />
                  <sourse
                    srcset="
            /src/images/details-restaurant/desk/frame-162.jpg 1x,
            /src/images/details-restaurant/desk/frame-324.jpg 2x
            "
                    media="(max-width: 1279px)"
                  />

                  <img
                    src="/src/images/details-restaurant/desk/frame-162.jpg"
                    alt="food"
                  />
                </picture>
              </div>
            </li>
            <li class="swiper-slide slide-next">
              <div class="swiper-inner">
                <picture>
                  <sourse
                    srcset="
            /src/images/details-restaurant/desk/frame3.jpg 1x,
            /src/images/details-restaurant/desk/frame3@2x.jpg 2x
            "
                    media="(min-width: 1280px)"
                  />

                  <img
                    src="/src/images/details-restaurant/desk/frame3.jpg"
                    alt="food"
                  />
                </picture>
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <picture>
                  <sourse
                    srcset="
            /src/images/details-restaurant/desk/table.jpg 1x,
            /src/images/details-restaurant/desk/table@2x.jpg 2x
            "
                    media="(min-width: 1280px)"
                  />

                  <img
                    src="/src/images/details-restaurant/desk/table.jpg"
                    alt="food"
                  />
                </picture>
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <picture>
                  <sourse
                    srcset="
            /src/images/details-restaurant/desk/tea.jpg 1x,
            /src/images/details-restaurant/desk/tea@2x.jpg 2x
            "
                    media="(min-width: 1280px)"
                  />

                  <img
                    src="/src/images/details-restaurant/desk/tea.jpg"
                    alt="food"
                  />
                </picture>
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <picture>
                  <sourse
                    srcset="
            /src/images/details-restaurant/desk/berries.jpg 1x,
            /src/images/details-restaurant/desk/berries@2x.jpg 2x
            "
                    media="(min-width: 1280px)"
                  />

                  <img
                    src="/src/images/details-restaurant/desk/berries.jpg"
                    alt="food"
                  />
                </picture>
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <picture>
                  <sourse
                    srcset="
            /src/images/details-restaurant/mob/food.jpg 1x,
            /src/images/details-restaurant/mob/food@2x.jpg 2x
            "
                    media="(max-width: 1023px)"
                  />

                  <img
                    src="/src/images/details-restaurant/mob/food.jpg"
                    alt="food"
                  />
                </picture>
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <picture>
                  <sourse
                    srcset="
            /src/images/details-restaurant/mob/sweets.jpg 1x,
            /src/images/details-restaurant/mob/sweets@2x.jpg 2x
            "
                    media="(max-width: 1023px)"
                  />

                  <img
                    src="/src/images/details-restaurant/mob/sweets.jpg"
                    alt="food"
                  />
                </picture>
              </div>
            </li>
          </ul>

          <div class="swiper-btns">
            <button type="button" class="swiper-btn swiper-button-prev">
              <svg class="arrows-btn__icon" width="32px" height="32px">
                <use
                  href="/src/images/details-restaurant/symbol-defs.svg#icon-cil_arrow-left"
                ></use>
              </svg>
            </button>
            <button type="button" class="swiper-btn swiper-button-next">
              <svg class="arrows-btn__icon" width="32px" height="32px">
                <use
                  href="/src/images/details-restaurant/symbol-defs.svg#icon-cil_arrow-right"
                ></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="rest-btn">
        <button type="button" class="rest-btn__table">
          Забронювати столик
        </button>
        <button type="button" class="rest-btn__menu">
          Переглянути меню
          <a
            href="https://dante1879.github.io/qwerty123-mimino/restaurant.html"
          ></a>
        </button>
      </div>
    </div>
  </div>
</section>
