<section class="details-hotel">
  <div class="container-hotel">
    <div class="details-hotel__content">
      <h1 class="details-hotel__logo">MIMIHO</h1>
      <h2 class="details-hotel__title">Готель</h2>
      <p class="details-hotel__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="wrap">
      <div class="wrap-slider">
        <div class="hotel-galery">
          <ul class="hotel-galery__img">
            <li class="hotel-galery__item tablet-hidden">
              <picture>
                <sourse
                  scrset="/src/images/details-hotel/mob/fork-80.jpg 1x,
            /src/images/details-hotel/mpb/fork-160.jpg 2x 
            "
                  media="(max-width: 1023px)"
                />
                <img
                  src="/src/images/details-hotel/mob/fork-80.jpg"
                  alt="food"
                />
              </picture>
            </li>
            <li class="hotel-galery__item">
              <picture>
                <sourse
                  srcset="
             /src/images/details-hotel/tablet/room-270.jpg 1x,
            /src/images/details-hotel/tablet/room-540.jpg 2x
            "
                  media="(min-width: 1280px)"
                />
                <sourse
                  srcset="
            /src/images/details-hotel/tablet/room-270.jpg 1x,
            /src/images/details-hotel/tablet/room-540.jpg 2x
            "
                  media="(max-width: 1279px)"
                />

                <img
                  src="/src/images/details-hotel/tablet/room-270.jpg"
                  alt="room"
                />
              </picture>
            </li>

            <li class="hotel-galery__item mob-hidden">
              <picture>
                <sourse
                  srcset="
            /src/images/details-hotel/tablet/plate-162.jpg 1x,
            /src/images/details-hotel/tablet/plate-324.jpg 2x
            "
                  media="(min-width: 1280px)"
                />
                <sourse
                  srcset="
            /src/images/details-hotel/tablet/plate-162.jpg 1x,
            /src/images/details-hotel/tablet/plate-324.jpg 2x
            "
                  media="(min-width: 1024px)"
                />
                <img
                  src="/src/images/details-hotel/tablet/plate-162.jpg"
                  alt="food"
                />
              </picture>
            </li>
            <li class="hotel-galery__item mob-hidden desktop-hidden">
              <picture>
                <!-- <sourse
                  srcset="
            /src/images/details-hotelaurant/fram-162.jpg 1x,
            /src/images/details-hotelaurant/fram-324.jpg 2x
            "
                  media="(min-width: 1280px)"
                /> -->
                <sourse
                  srcset="
            /src/images/details-hotel/tablet/woman-162.jpg 1x,
            /src/images/details-hotel/tablet/woman-324.jpg 2x
            "
                  media="(min-width: 1024px)"
                />
                <img
                  src="/src/images/details-hotel/tablet/woman-162.jpg"
                  alt="woman"
                />
              </picture>
            </li>
            <li class="hotel-galery__item mob-hidden tablet-hidden shown">
              <picture>
                <sourse
                  srcset="
            /src/images/details-hotel/desk/woman-270.jpg 1x,
            /src/images/details-hotel/desk/woman-540.jpg 2x
            "
                  media="(min-width: 1280px)"
                />

                <img
                  src="/src/images/details-hotel/desk/woman-270.jpg"
                  alt="woman"
                />
              </picture>
            </li>
          </ul>
        </div>
        <div class="arrows-btn">
          <svg class="arrows-btn__icon" width="32px" height="32px">
            <use
              href="/src/images/details-hotel/symbol-defs.svg#icon-cil_arrow-left"
            ></use>
          </svg>
          <svg class="arrows-btn__icon" width="32px" height="32px">
            <use
              href="/src/images/details-hotel/symbol-defs.svg#icon-cil_arrow-right"
            ></use>
          </svg>
        </div>
      </div>
      <div class="hotel-btn">
        <button type="button" class="hotel-btn__number">
          Забронювати номер
        </button>
        <button type="button" class="hotel-btn__price">
          Переглянути ціни
          <a href="#"></a>
        </button>
      </div>
    </div>
  </div>
</section>
