<section class="room-page">
  <div class="room-page__main-container">
    <h2 class="room-page__title">ЗРУЧНОСТІ У НОМЕРІ</h2>
    <div class="room-page__box">
<ul class="room-page__list list">
<li class="room-page__item item">
<div class="room-page__tablet1">
<p class="room-page__text text--center">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
</div>
</li>


<li class="room-page__item item">
<h3 class="room-page__pre-title">ЗАГАЛЬНІ</h3>
<div class="room-page__tablet2">
<p class="room-page__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>

<p class="room-page__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
</div>
</li>


<li class="room-page__item item">
<h3 class="room-page__pre-title">ВАННА КІМНАТА</h3>
<div class="room-page__tablet3">
<p class="room-page__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
<p class="room-page__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
</div>
</li>


<li class="room-page__item item">
<h3 class="room-page__pre-title">СПАЛЬНЯ</h3>
<div class="room-page__tablet4">
<p class="room-page__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. </p>
</div>
</li>


<li class="room-page__item item">
<h3 class="room-page__pre-title">КУХНЯ</h3>
<div class="room-page__tablet5">
<p class="room-page__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
<p class="room-page__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
</div>
</li>


<li class="room-page__item item">

<h3 class="room-page__pre-title">МЕДІА</h3>
<div class="room-page__tablet6">
<p class="room-page__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. </p>
</div>
</li>

</ul>
</div>
<div class="room-btn">
<button type="button" class="room-btn__booking">
ОФОРМИТИ БРОНЮВАННЯ
</button>

<a class="room-btn__link" href="#"> Повернутися до перегляду номерів
  <svg class="room-btn__icon" width="24" height="24">
    <use y="6" href="/src/images/room-page/icon-room.svg#icon-right"></use>
  </svg>
</a>
</button>
</div>
  </div>  
</section>