    <section class="room-page section">
      <div class="container">
        <div class="room-page__box">
<ul class="room-page__list list">
<li class="room-page__item item">
<h2 class="room-page__title">ЗРУЧНОСТІ У НОМЕРІ</h2>
<div class="room-page__tablet1">
<p class="room-page__text text--center">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
</div>
</li>
<li class="room-page__item item">
  <h2 class="room-page__title">ЗАГАЛЬНІ</h2>
  <div class="room-page__tablet2">
  <p class="room-page__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
  <p class="room-page__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
  </div>
</li>
<li class="room-page__item item">
  <h2 class="room-page__title">ВАННА КІМНАТА</h2>
  <div class="room-page__tablet3">
  <p class="room-page__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
  <p class="room-page__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
</div>
</li>
<li class="room-page__item item">
  <h2 class="room-page__title">СПАЛЬНЯ</h2>
  <div class="room-page__tablet4">
  <p class="room-page__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. </p>
</div>
</li>
<li class="room-page__item item">
  <h2 class="room-page__title">КУХНЯ</h2>
  <div class="room-page__tablet5">
  <p class="room-page__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
  <p class="room-page__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
</div>
</li>
<li class="room-page__item item">
  <h2 class="room-page__title">МЕДІА</h2>
  <div class="room-page__tablet6">
  <p class="room-page__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. </p>
</div>
</li>
</ul>
</div>
<ul class="room-page__btn">
  <li class="room-page__btn--booking">
    <button type="button" class="btn__booking">ОФОРМИТИ БРОНЮВАННЯ</button>
  </li>
  <li class="room-page--booking">
    <button type="button" class="btn__back">Повернутися до перегляду номерів 
      <svg class="btn__back--icon" width="24" height="24">
        <use href=""></use>
      </svg>
    </button>
  </li>
</ul>
      </div>  
    </section>