<div class="section-hero">
  <div class="hero-homepage-container">
    <div class="hero-content">
      <h1 class="hero-content__title">MIMIHO</h1>
      <span class="hero-content__subtitle">Ресторанно-готельний комплекс</span>
      <p class="hero-content__text">СМАК ЖИТТЯ 24/7</p>
    </div>

    <div class="hero-footer">
      <div class="hero-location">
        <a class="hero-location__link" href="">
          <svg width="20" height="20">
            <use
              href="/src/images/hero/symbols-hero.svg#icon-location-hero"
            ></use>
          </svg>
          <div class="hero-location__text">
            <span class="block">Україна, м. Полтава,</span>
            <span class="block">вул. Маршала Бірюзова, 15</span>
          </div>
        </a>
      </div>

      <ul class="hero-button-list">
        <li class="hero-button-list__item">
          <button
            class="hero-button popup-link"
            type="button"
            data-popup-btn="table-booking-modal"
          >
            Забронювати столик
          </button>
        </li>
        <li class="hero-button-list__item">
          <button class="hero-button" type="button">Забронювати номер</button>
        </li>
      </ul>
    </div>

    <ul class="hero-social">
      <li class="hero-social__item">
        <a class="hero-social__link" href="">
          <svg width="24" height="24">
            <use
              href="/src/images/hero/symbols-hero.svg#icon-instagram-hero"
            ></use>
          </svg>
        </a>
      </li>
      <li class="hero-social__item">
        <a class="hero-social__link" href="">
          <svg width="24" height="24">
            <use
              href="/src/images/hero/symbols-hero.svg#icon-facebook-hero"
            ></use>
          </svg>
        </a>
      </li>
      <li class="hero-social__item">
        <a class="hero-social__link" href="">
          <svg width="24" height="24">
            <use
              href="/src/images/hero/symbols-hero.svg#icon-telegram-hero"
            ></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
