<div class="section-hero-restaurant">


  <div class="hero-restaurant-container">


    <div class="hero-content-restaurant">
      <h1 class="hero-content-restaurant__title">MIMIHO</h1>
      <span class="hero-content-restaurant__subtitle">Ресторан</span>
      <p class="hero-content-restaurant__text">СМАК ЖИТТЯ 24/7</p>
    </div>


    <div class="hero-footer-restaurant">

      <div class="hero-location-restaurant">

        <a class="hero-location-restaurant__link" href="">
          <svg width="20" height="20">
            <use href="/src/images/hero/symbols-hero.svg#icon-location-hero"></use>
          </svg>
          <div class="hero-location-restaurant__text">
            <span class="block">Україна, м. Полтава,</span>
            <span class="block">вул. Маршала Бірюзова, 15</span>
          </div>
        </a>


      </div>

      <ul class="hero-button-restaurant-list">
        <li class="hero-button-restaurant-list__item">
          <button class="hero-button" type="button">Забронювати столик</button>
        </li>
        <li class="hero-button-restaurant-list__item">
          <button class="hero-button-restaurant" type="button">Забронювати номер</button>
        </li>
      </ul>

    </div>
    <ul class="hero-social-restaurant">
      <li class="hero-social-restaurant__item">
        <a class="hero-social-restaurant__link" href="">
          <svg width="24" height="24">
            <use href="/src/images/hero/symbols-hero.svg#icon-instagram-hero"></use>
          </svg>
        </a>
      </li>
      <li class="hero-social-restaurant__item">
        <a class="hero-social-restaurant__link" href="">
          <svg width="24" height="24">
            <use href="/src/images/hero/symbols-hero.svg#icon-facebook-hero"></use>
          </svg>
        </a>
      </li>
      <li class="hero-social-restaurant__item">
        <a class="hero-social-restaurant__link" href="">
          <svg width="24" height="24">
            <use href="/src/images/hero/symbols-hero.svg#icon-telegram-hero"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>