<div class="section-hero-hotel">


  <div class="hero-hotel-container">


    <div class="hero-content-hotel">
      <h1 class="hero-content-hotel__title">MIMIHO</h1>
      <span class="hero-content-hotel__subtitle">Готель</span>
      <!-- <p class="hero-content-hotel__text">СМАК ЖИТТЯ 24/7</p> -->
    </div>


    <div class="hero-footer-hotel">

      <div class="hero-location-hotel">

        <a class="hero-location-hotel__link" href="">
          <svg width="20" height="20">
            <use href="/src/images/hero/symbols-hero.svg#icon-location-hero"></use>
          </svg>
          <div class="hero-location-hotel__text">
            <span class="block">Україна, м. Полтава,</span>
            <span class="block">вул. Маршала Бірюзова, 15</span>
          </div>
        </a>


      </div>

      <ul class="hero-button-hotel-list">
        <li class="hero-button-hotel-list__item">
          <button data-popup-btn="table-booking-modal popup-link" class="hero-button-hotel" type="button">Забронювати столик</button>
        </li>
        <li class="hero-button-hotel-list__item">
          <button class="hero-button-hotel" type="button">Переглянути ціни</button>
        </li>
      </ul>

    </div>
    <ul class="hero-social-hotel">
      <li class="hero-social-hotel__item">
        <a class="hero-social-hotel__link" href="">
          <svg width="24" height="24">
            <use href="/src/images/hero/symbols-hero.svg#icon-instagram-hero"></use>
          </svg>
        </a>
      </li>
      <li class="hero-social-hotel__item">
        <a class="hero-social-hotel__link" href="">
          <svg width="24" height="24">
            <use href="/src/images/hero/symbols-hero.svg#icon-facebook-hero"></use>
          </svg>
        </a>
      </li>
      <li class="hero-social-hotel__item">
        <a class="hero-social-hotel__link" href="">
          <svg width="24" height="24">
            <use href="/src/images/hero/symbols-hero.svg#icon-telegram-hero"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>