<section class="contacts">
  <div class="contacts__container container">
    <div class="contacts__wrapper">
      <h3 class="visually-hidden">Контакти</h3>
    <span class="contacts__logo logo">MIMIHO</span>
    <p class="contacts__text">Ресторанно-готельний комплекс</p>
    <ul class="contacts__list list">
      <li class="contacts__item contact-inform contact-inform--rest">
        <p class="contact-inform__title">Ресторан</p>
        <div class="contact-container">
          <svg class="contact-container__icon" width="24" height="24">
            <use href="./images/icon.svg#icon-phone"></use>
          </svg>
          <span class="contact-container__text"> 095 555 95 33</span>
        </div>
      </li>
      <li class="contacts__item contact-inform contact-inform--hotel ">
        <p class="contact-inform__title">Готель</p>
        <div class="contact-container">
          <svg class="contact-container__icon" width="24" height="24">
            <use href="./images/icon.svg#icon-phone"></use>
          </svg>
          <div class="thumb-tel">
            <span class="contact-container__text"> 066 849 10 89</span>
          <span class="contact-container__text contact-container__text--sn"
            >067 275 85 40</span
          >
          </div>
        </div>
      </li>
      <li class="contacts__item contact-inform contact-inform--address">
        <div class="contact-container contact-container--address">
          <svg
            class="contact-container__icon contact-container__icon--address"
            width="24"
            height="24"
          >
            <use href="./images/icon.svg#icon-map"></use>
          </svg>
          <p class="contact-container__text contact-container__text--address">
            Україна, м. Полтава, <br />
            вул. Маршала <br class="contact-container__br"> Бірюзова, 15
          </p>
        </div>
      </li>
    </ul>
    </div>
    <iframe class="contacts__map"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2585.9196902715903!2d34.52176742250059!3d49.5992638998861!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f34ac947%3A0xbb948724f7cf0b61!2z0JPQvtGC0LXQu9GM0L3Qvi3RgNC10YHRgtC-0YDQsNC90L3QuNC5INC60L7QvNC_0LvQtdC60YEgItCc0ZbQvNGW0L3QviI!5e0!3m2!1sru!2sua!4v1674936403772!5m2!1sru!2sua"
      width="100%"
      height="220"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</section>
