<div class="section-hero-room">


  <div class="hero-room-container">
    <div class="hero-room-slider">
      <div class="room-button">
        <svg width="40" height="40">
          <use href="/src/images/hero/symbols-hero.svg#icon-cil_arrow-left"></use>
        </svg>
      </div>
      <div class="room-button">
        <svg width="40" height="40">
          <use href="/src/images/hero/symbols-hero.svg#icon-cil_arrow-right"></use>
        </svg>
      </div>
    </div>

    <div class="hero-room-content">
      <h2 class="hero-room-title">ДВОМІСНИЙ НОМЕР люкс</h2>

      <p class="hero-room-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
        Velit officia consequat duis enim velit
        mollit. Exercitation veniam consequat sunt nostrud amet.
      </p>


    </div>

    <div class="hero-footer-room">

      <div class="hero-location-room">

        <a class="hero-location-room__link" href="">
          <svg width="20" height="20">
            <use href="/src/images/hero/symbols-hero.svg#icon-location-hero"></use>
          </svg>
          <div class="hero-location-room__text">
            <span class="block">Україна, м. Полтава,</span>
            <span class="block">вул. Маршала Бірюзова, 15</span>
          </div>
        </a>


      </div>

      <ul class="hero-social-room">
        <li class="hero-social-room__item">
          <a class="hero-social-room__link" href="">
            <svg width="24" height="24">
              <use href="/src/images/hero/symbols-hero.svg#icon-instagram-hero"></use>
            </svg>
          </a>
        </li>
        <li class="hero-social-room__item">
          <a class="hero-social-room__link" href="">
            <svg width="24" height="24">
              <use href="/src/images/hero/symbols-hero.svg#icon-facebook-hero"></use>
            </svg>
          </a>
        </li>
        <li class="hero-social-room__item">
          <a class="hero-social-room__link" href="">
            <svg width="24" height="24">
              <use href="/src/images/hero/symbols-hero.svg#icon-telegram-hero"></use>
            </svg>
          </a>
        </li>
      </ul>

      <div class="hero-button-room-block">
        <button class="hero-button-room" type="button">Переглянути ціни</button>
      </div>

    </div>





  </div>

</div>