<section class="luxe">
    <div class="luxe__container">
        <div class="luxe__box">
            <p class="luxe__slogan">
                Amet minim mollit non
            </p>
            <a class="luxe__logo" href="#">
                mimiho
            </a>
            <h2 class="luxe__title">
                ДВОМІСНИЙ НОМЕР люкс
            </h2>
            <p class="luxe__text">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
                mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <picture>
                <img class="luxe__img" src="/src/images/section-double-luxe/luxe-mobile.jpg" alt="кімната люкс">
            </picture>
            <div>
                <img src="/src/images/section-double-luxe/cup-tea-stands-wooden-windowsill-mobile.jpg" alt="чашка з кавою на вікні">
            </div>
            <ul class="luxe__list">
                <li class="luxe__item">
                    <a class="luxe__link" href="#">
                        Детальніше
                    </a>
                </li>
                <li class="luxe__item">
                    <button class="luxe__button" type="button">
                        Переглянути ціни
                    </button>
                </li>
            </ul>
        </div>
    </div>
</section>