<div class="section-hero">
  <h1></h1>
  <span class="section-hero__subtitle">Ресторанно-готельний
    комплекс</span>
  <p class="section-hero__text">СМАК ЖИТТЯ 24/7</p>

  <button class="hero-button" type="button">Забронювати столик</button>
  <button class="hero-button" type="button">Забронювати номер</button>

  <ul class="hero-social">
    <li class="hero-social__item">
      <a class="hero-social__link" href=""></a>
    </li>
    <li class="hero-social__item">
      <a class="hero-social__link" href=""></a>
    </li>
    <li class="hero-social__item">
      <a class="hero-social__link" href=""></a>
    </li>
  </ul>

</div>