<section class="abt-kitchen-section">
  <div class="abt-kitchen-section__container">
    <div class="abt-kitchen-section__first-block">
      <h1 class="abt-kitchen-section__hiden-title">About our kitchen</h1>
      <h3 class="abt-kitchen-section__sup-title">Amet minim mollit non</h3>
      <h2 class="abt-kitchen-section__title">міміно</h2>
      <p class="abt-kitchen-section__paragraph">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <img
        src="./images/about-kitchen1.jpeg"
        alt="restaurant picture"
        class="abt-kitchen-section__first-main-img"
      />
    </div>
    <div class="abt-kitchen-section__second-block">
      <img
        src="./images/about-kitchen2.jpeg"
        alt="restaurant picture"
        class="abt-kitchen-section__second-main-img"
      />
      <p class="abt-kitchen-section__paragraph abt-kitchen-section__sub-paragraph">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="abt-kitchen-section__third-block">
      <!-- slider -->
      <div class="abt-kitchen-section__slider">
        <img
          src="./images/test-picture-K1.jpeg"
          alt="#"
          class="abt-kitchen-section__slider-img"
        />
        <img
          src="./images/test-picture-K2.jpeg"
          alt="#"
          class="abt-kitchen-section__second-slider-img"
        />
      </div>
      <div class="abt-kitchen-section__slider-buttons">
        <button type="button" class="abt-kitchen-section__slider-button">
          <svg width="32" height="32">
            <use href="./images/about-sections-icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
        <button type="button" class="abt-kitchen-section__slider-button">
          <svg width="32" height="32">
            <use
              href="./images/about-sections-icons.svg#icon-arrow-right"
            ></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
