<footer class="footer">
    <div class="footer_container">
        <nav class="footer-nav">
            <a href="./index.html" lang="en" class="logo">MIMIHO</a>
            <ul class="nav-list">
                <li class="nav-list__item">
                    <a href="#" class="nav-list__link">Головна</a>
                </li>
                <li class="nav-list__item">
                    <a href="#" class="nav-list__link">Ресторан</a>
                </li>
                <li class="nav-list__item">
                    <a href="#" class="nav-list__link">Готель</a>
                </li>
            </ul>
        </nav>

        <ul class="socials-list">
            <li class="socials-list_item">
                <a href="#" class="socials-list__link">Telegram
                    <svg width="22" height="22">
                        <use href="./images/footer-test.svg#icon-Vector-1"></use>
                    </svg>
                </a>
            </li>
            <li class="socials-list_item">
                <a href="#" class="socials-list__link">Facebook
                    <svg width="22" height="22">
                        <use href="./images/footer-test.svg#icon-Vector-2"></use>
                    </svg>
                </a>
            </li>
            <li class="socials-list_item">
                <a href="#" class="socials-list__link">Instagram
                    <svg width="22" height="22">
                        <use href="./images/footer-test.svg#icon-Vector-3"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</footer>