<header class="header">
  <div class="container">
    <div class="header-container">
      <a href="../index.html" class="logo link">
        <span class="logo__name">Mimiho</span>
      </a>
      <nav class="navigation">
        <div class="navigation-container">
          <ul class="navigation-list">
            <li class="navigation__list__item">
              <a href="#" class="navigation__list__link"
                >Ресторан
                <svg class="header__icon" width="24" height="24">
                  <use href="../images/symbol-defs.svg#icon-phone"></use>
                </svg>
              </a>
            </li>
            <li class="navigation__list__item">
              <a href="#" class="navigation__list__link"
                >Готель
                <svg class="header__icon" width="24" height="24">
                  <use href="../images/symbol-defs.svg#icon-phone"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
