<div class="book-table-modal">
        <button type="button" class="close" aria-label="Кнопка закриття модального вікна" data-modal-close>
          <svg class="close__icon">
            <use href="./images/icons.svg#icon-close"></use>
          </svg>
        </button>

        <form class="form">
          <h2 class="form__title">ЦІНИ НА НОМЕР</h2>
          <p class="form__room-type">Двомісний люкс</p>
          <p class="form__room-text">Категорія номеру</p>

      <div class="container">
        <div class="form__field">
            <select name="date" class="form__input" id="booking-date">
            <option value="" selected>1</option>
            <option value="">2</option>
            <option value="">3</option>
            <option value="">4</option>
            <option value="">5</option>
            </select>
           <label for="booking-date" class="modal-room__label">Кількість ночей</label>
          </div>

          <div class="form__field">
              <input class="form__input"
                type="text" 
                value="1000"
                name="user_name" 
                id="user_name"            
                />
              <label for="user_name" class="modal-room__label">грн</label>
            </div>
            </div>

          
          
          <button type="submit" class="form__button">ОФОРМИТИ БРОНЮВАННЯ</button>
        </form>
      </div>
    </div>
    
  </body>
</html>