<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Студія</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css" />
    <link rel="stylesheet" href="./css/main.min.css" />
  </head>
  <body>
       
    <!-------------------------- Модальне вікно -------------------------------->
   
    <div class="backdrop" data-modal>
      <div class="book-table-modal">
        <button type="button" class="close" aria-label="Кнопка закриття модального вікна" data-modal-close>
          <svg class="close__icon">
            <use href="./images/icons.svg#icon-close"></use>
          </svg>
        </button>

        <form class="form">
          <h2 class="form__title">ЦІНИ НА НОМЕР</h2>
          <p class="form__room-type">Двомісний люкс</p>
          <p class="form__room-text">Категорія номеру</p>

      <div class="container">
        <div class="form__field">
            <select name="date" class="form__input" id="booking-date">
            <option value="" selected>1</option>
            <option value="">2</option>
            <option value="">3</option>
            <option value="">4</option>
            <option value="">5</option>
            </select>
           <label for="booking-date" class="modal-room__label">Кількість ночей</label>
          </div>

          <div class="form__field">
              <input class="form__input"
                type="text" 
                value="1000"
                name="user_name" 
                id="user_name"            
                />
              <label for="user_name" class="modal-room__label">грн</label>
            </div>
            </div>

          
          
          <button type="submit" class="form__button">ОФОРМИТИ БРОНЮВАННЯ</button>
        </form>
      </div>
    </div>
    <!-- <script src="./js/modal.js"></script>
    <script src="./js/mobile-menu.js"></script> -->
  </body>
</html>